name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - 1.54

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        components: rustfmt, clippy
    - name: Rustfmt
      run: cargo fmt -- --check
    - name: Clippy
      run: cargo clippy --all-targets -- -D warnings
    - name: Run tests
      run: cargo test --verbose
